/* You can add global styles to this file, and also import other style files */

  .tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    border: none;
    box-shadow: inset 1px 1px rgb(255 255 255 / 20%), inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
    background-color: transparent;
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    --bs-secondary-rgb: transparent;
    padding: 25px;
    border-radius: 0.5rem;
  }

.nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-radius: 0;
    transform: scale(1.0);
}

.nav-tabs .nav-item:first-child > .nav-link {
    border-radius: 0.5rem 0 0 0.5rem;
}

.member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
}

.nav-tabs .nav-item:last-child > .nav-link {
    border-radius: 0 0.5rem 0.5rem 0;
}
  